img{
     width : 500px;
     height : auto;
}

h1{
    font-family :Verdana , Tahoma, sans-serif;
    font-weight: bold;
    font-size : 50px;
}

h2{
    background-color: lightgrey;
    font-weight: 600;
    font-style: oblique;
}

p{
    background-color: teal;
    font-size : 28px;
}

ul li{
    background-color: blanchedalmond;
    color : orange;
    font-size : 26px;
    font-weight : bold;
}

ol li{
    background-color: blanchedalmond;
    color : orange;
    font-size : 26px;
    font-weight : bold;

}
